.main {
  margin-left: 210px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  margin-top: 100px
}

.display{
  padding: 0 30px 0 40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*tr:nth-child(even) {
  background-color: #dddddd;
}*/